body{
    background-color: #510c92;
}
img.center { /* this is for the profile image */
    border-radius: 1000px;
    margin-right: 1000px;
    border: 5px solid;
    border-color: white;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.subImage{
    width: 400px;
}
h1.top {
    color: white;
    font-weight: bold;
    text-align: center;
}
a {
    color: white;
}
b {
    color: white;
    font-weight: normal;
}
p {
    color: white;
    font-weight: normal;
}
.description{
    margin: auto;
    text-align: center;
    color: white;
}
.header{
    color: white;
    font-weight: bold;
}
.about{
    color: white;
    font-weight: normal;
}
.projects{
    color: white;
}
ul.titleList{
    color: white;
    font-size: large;
    font-weight: bold;
    list-style-type: square;
}
ul.subList{
    color: white;
    font-size: 80%;
    font-weight: normal;
    list-style-type: circle;
}